* {
    margin:0;
    padding:0;
}

/* GENERAL */
body {
    font-family: 'Roboto', 'Lobster';
    font-size: 1em;
}

/* NAVIGATION BAR */
.header {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #444444;
}

.header .hamburguer {
    font-size: 2.2em;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    margin: 20px; 
}

.header .img {
    width: 120px;
    height: 80px;
    margin-right: 50px; 
}

.header .nav {
    width: auto;
    display: flex;
    align-items: center;
}

.header .nav .nav-link {
    margin-right: 50px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #444444;
}

.footer .social {
    width: 120px;
    margin: 18px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer .social .div-i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9288885a;
}

.footer .social .div-i .i {
    color: white;
    cursor: pointer;
}

.footer .footer-link {
    margin-bottom: 22px;
    text-decoration: none;
    cursor: pointer;
    color: white;   
}

.footer .footer-text {
    margin-bottom: 15px;
    color: white;   
}

@media screen and (max-width: 920px) {
    .header {
        justify-content: space-between;
    }

    .header .img {
        display: none;
    }

    .header .hamburguer {
        display: block;
        cursor: pointer;
    }

    .header .nav {
        overflow: hidden;
		width: 100%;
		height: 0px;
		transition: all .5s ease;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		pointer-events: none;
    }

    .header .nav.active {
        height: 40vh;
		pointer-events: auto;
        padding-top: 30px;
    }

    .header .nav .nav-link {
        margin: 20px 0;
        text-align: center;
    }
}