.cov {
    position: relative;
}

.name {
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.cover {
    margin: 0 auto;
    width: 100vw;
}

.whoAreWe {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    text-align: center;
}

.whoAreWe .h1 {
}

.whoAreWe .p {

}