.cov {
    position: relative;
}

.cov .name {
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 4vw;
}

.cov .cover {
    width: 100vw;
}

.whoAreWe {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    text-align: justify;
}

.whoAreWe .h1 {
    font-style: italic;
    margin-bottom: 20px;
}

.whoAreWe .p {
    line-height: 30px;
}

@media screen and (max-width: 920px) {
    .cov .name {
        font-size: 8vw;
    }
}