h2 {
    color: rgba(0,39,67,.7);
}

.border {
    border: 1px solid black;
}

.padding {
    padding: 5px 0px 5px 10px;
}

.margin {
    border: 20px 0;
}

div > p {
    font-weight: bold;
}

img[alt]{
    width: 500px;
}

.little {
    font-size: 10px;
}

.middle {
    font-size: 16px;
}

.large {
    font-size: 24px;
}

.custom_p {
    font-style: italic;
}

