/********************************************************************* Variables CSS */
:root {
    --logo: 3vw;
}

/********************************************************************* Reset CSS + Body */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;;
}

a {
    color: black;
}

[type="radio"] {
    display: none;
}

a:hover {
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 700;
}

.grow {
    flex-grow: 10;
}

/********************************************************************* Logo + Nav */

.grid-layout {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: auto;
    background-color: white;
}

.header { 
    align-items: center;
    grid-column: 1 / 2;
    justify-content: center;
    margin-top: 6px;
}

.logo {
    width: var(--logo);
    height: var(--logo);
    float: left;
}

.menu {
    width: calc(100% - var(--logo));
    float:right;
    text-align: center;
    line-height: 3vw;
    margin-bottom: 1%;
}

.menu > a {
    text-transform: uppercase;
    margin-right: 2vw;
    color: rgb(199, 12, 12);
    font-weight: 500;
    font-size: 0.6em;
}

/********************************************************************* Layout Home*/

.cover {
    grid-column: 1 / 2;
}

.cover-title {
    width: 100%;
    color: white;
    margin: 0 auto;
    z-index: 1;
    letter-spacing: 1mm;
    font-weight: bold;
    
}

.cover .cover-z {
    width: 90%;
    margin: 4% auto;
    max-height: 80vh;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

}

.cover-home-img {
    width: 100%;
    max-height: 80vh;
    margin-bottom: 0.55vh;
    z-index: 0;
}

.categories-home {
    grid-column: 1 / 2; 
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.357);
}

.categories-home .col-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1.15vh;
    z-index: 0;
}

.categories-home .col-3 .col-3-img {
    width: 32.6%; 
    margin-right: 0.6vw;
    min-height: 43vh;
    z-index: 0;
}

.last {
    margin-right: 0 !important;
}

.categories-home .col-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1.15vh;
}

.categories-home .col-2 .col-2-img {
    width: 49.6%; 
    margin-right: 0.3vw;
    max-height: 57vh;
}

.categories-home .col-3 .select-man {
    right: 0;
    left: 14vw;
    text-align: start;
    color: white;
    font-weight: 700;
    margin-top: 3%;
}

.categories-home .col-3 .select-woman {
    right: 0;
    left: 0;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
}

.categories-home .col-3 .select-acc {
    left: 0px;
    right: 14vw;
    text-align: end;
    color: white;
    font-weight: 700;
    margin-top: 3%;
}

.categories-home .col-2 .select-icon-man {
    left: 20vw;
    text-align: start;
    color: white;
    font-weight: 700;
    margin-top: 20%;
}

.categories-home .col-2 .select-icon-woman {
    right: 21vw;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 20%;
}

.blank {
    color: black;
    text-align: center;
    padding: 8px 15px;
    font-weight: bold;
    background-color: white;
}

.super {
    position: absolute;
    z-index: 2;
}

.button {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.206);
}

.categories-home .col-3 .s-man {
    left: 15vw;
    margin-top: 7%;
    max-width: 100px;
    font-size: 0.9em;
}

.categories-home .col-3 .s-woman {
    right: 0;
    left: 0;
    margin: 7% auto;
    max-width: 70px;
    background-color: white;
    font-size: 0.9em;
}

.categories-home .col-3 .s-acc {
    right: 9vw;
    margin: 7%;
    max-width: 100px;
    background-color: white;
    font-size: 0.9em;
}

.categories-home .col-2 .s-icon-man {
    left: 23vw;
    margin-top: 23%;
    max-width: 100px;
    font-size: 0.9em;
}

.categories-home .col-2 .s-icon-woman {
    right: 24vw;
    margin-top: 23%;
    max-width: 70px;
    background-color: white;
    font-size: 0.9em;
}

.mail {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.main img.mail-img {

}

.mail p.txt {
    color: black;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 20px;
}

.mail button.btn {
    width: 260px;
    color: white;
    padding: 7px 68px;
    border: none; 
    background-color: rgb(199, 12, 12);
    text-transform: uppercase;
    font-size: 0.6em;
    cursor: pointer;
}

/********************************************************************* Layout FAQ*/

.grid-layout .title {
    grid-column: 1 / 2;
    text-align: center;
    color: rgb(199, 12, 12);
    font-size: 1.2em;
}

.cover-faq-img {
    width: 100%;
    max-height: 50vh;
    margin-bottom: 0.55vh;
    z-index: 0;
}

.faq-section {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-div-section {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.6em;
    margin-bottom: 30px;
}

.faq-section .faq-div-section .faq-title {
    display: inline-flex;
    min-width: 28%;
    min-height: 50px;
    padding-right: 20px;
    border-right: 2px solid rgb(199, 12, 12);    
    justify-content: end;
    align-items: center;
    
}

.faq-section .faq-div-section .faq-title .left {
    font-weight: bold;
    font-size: 0.9em;
    text-align: end;
    margin-left: 5px;
}

.faq-section .faq-div-section .faq-explanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.faq-section .faq-div-section .faq-explanation .right {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.faq-section .faq-answer {
}

.faq-section .faq-div-section .faq-explanation .faq-answer .a-faq {
    color: rgb(199, 12, 12);
    margin-top: 20px;
}

.faq-section .faq-explanation .right {
    text-align: left;
    width: auto;
    text-align: left;
}

i.i {
    color: red !important;
    font-size: 12px;
    margin-top: -3px;
    margin-right: -1.65px;
}

i.i-arrow {
    color: red !important;
    font-size: 12px;
    margin-right: 6px;
}

/********************************************************************* Layout Category */

.cover-h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 16px;
}

.cover-p {
    font-size: 0.7em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.cover .breadcrumb {
    padding: 10px 0;
    font-size: 0.7em;
}

.cover .breadcrumb .breadcrumb-li {
    display: inline;
} 

.cover .breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
} 

.cover .breadcrumb .breadcrumb-li .breadcrumb-a {
    color: black;
    text-decoration: underline;
    cursor: pointer;

}

.cover .breadcrumb .breadcrumb-li .breadcrumb-a:hover {
    color: #01447e;    
    text-decoration: underline;
}

.filter {
    margin: 20px 0;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.filter .filter-p {
    font-size: 0.6em;
    margin-right: 8.5vw;
}

.filter .dropdown-color {
    position: relative;
    display: inline-block;
    font-size: 0.6em;
    margin-right: 4vw;
}

.filter .dropdown-color:hover .dropdown-color-content {
    display: block;
}

.filter .dropdown-color-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.filter .dropdown-size {
    position: relative;
    display: inline-block;
    font-size: 0.6em;
    margin-right: 4vw;
}

.filter .dropdown-size:hover .dropdown-size-content {
    display: block;
}

.filter .dropdown-size-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.filter .dropdown-order {
    position: relative;
    display: inline-block;
    font-size: 0.6em;
    text-align: end;
    flex-grow: 1;

}

.filter .dropdown-order:hover .dropdown-order-content {
    display: block;
}

.filter .dropdown-order-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.category {
    grid-column: 1 / 2; 
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.357);
    justify-content: space-between;
}

.category .container-1 {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 45px;
}

.category .container-2 {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 45px;
}

.category .container-3 {
    grid-column: 3 / 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 45px;
}

.category .container-4 {
    grid-column: 4 / 5;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 45px;
}

.category .large-container {
    grid-column: 3 / 5;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 45px;
}

.category .row-2 {
    grid-row: 2 / 3;
}

.category .row-3 {
    grid-row: 3 / 4;
}

.category .less-margin {
    margin-bottom: 28px;
}

.category .last-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-bottom: 2.15vh;
}

.category .img {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(170, 167, 167, 0.23);
    margin-bottom: 10px;
}

.category .img-grande {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(170, 167, 167, 0.23);
    margin-bottom: 10px;
}

.category .model, .price {
    min-width: 24.5%; 
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
    font-size: 0.7em;
}

.category .options {
    min-width: 24.5%; 
    text-align: center;
    font-size: 0.7em;
    margin-top: 2px;
}

.rot {
    transform: rotate(270deg);
}

/***************************************************************************** Layout Product */

.products {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    justify-content: center;
    margin-bottom: 30px;
}

.image-product {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 10% 5% auto 5%;
    margin-left: 50px;
}

.data-product {
    padding-left: 30px;
    grid-column: 3 / 4;
    letter-spacing: 1px;
}

.other {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 23% 23% 23% 23;
}

.image-product .mini {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.mini > img {
    min-width: auto;
    height: 40px;
    margin-bottom: 1%;
    cursor: pointer;
}

.image-product .left {
    display: inline-flex;
    align-items: center;
}

.image-product .image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.image-product .right {
    display: inline-flex;
    align-items: center;
}

.data-product .data {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.data-product .data > p {
    font-size: 0.8em;
    margin-bottom: 20px;
    font-weight: 500;
}

.data-product .data > h3, h4 {
    font-size: 1.4em;
}

.data-product .data > h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.data-product .mini {

}

.data-product .shiping {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.data-product .size {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.data-product .size > a {
    text-decoration: underline;

}

.data-product .choose-size {
    margin-bottom: 30px;
}

.data-product .choose-size .radio {
    margin-right: 6px;
    font-size: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.172);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.data-product .buy {
    width: 100%;
    background-color:rgb(199, 12, 12);
    color: white;
    padding: 7px 0;
    font-size: 0.9em; 
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.data-product .look {
    font-size: 0.8em;
    letter-spacing: 0.4px;
    text-align: start;
    margin-bottom: 50px;
}

.other .other-1 {
    grid-column: 1 / 2;
}

.other .other-2 {
    grid-column: 2 / 3;
}

.other .other-3 {
    grid-column: 3 / 4;
}

.other .other-4 {
    grid-column: 4 / 5;
}

.other .other-img {
    width: 98%;
    min-height: 300px;
    cursor: pointer;
}

/***************************************************************************** Footer */

.footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(199, 12, 12);
    padding: 60px 12px;
    color: white;
    width: 90%;
    font-size: 0.5em;
}

.footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer .footer-main .box {
    margin-right: 10px;
}

.footer .footer-main p {
    letter-spacing: 0.2mm;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: start;
}

.footer .footer-main ul {
    text-align: left;
}

.footer .footer-main ul li {
    font-size: 0.65em;
    letter-spacing: 0.2mm;
    margin-bottom: 5px;
}

.footer p.us {
    text-align: end;
    font-size: 0.7em;
    letter-spacing: 0.2mm;
    margin-right: 4%;
} 

.footer .a-footer {
    color: white;

}

.footer .a-footer:hover {
    color: rgb(68, 63, 63);
}

/************************************************************************ Responsive */

@media screen and (max-width: 480px) {

    /*HOME*/
    .categories-home .col-3 .select-man {
        left: 11vw;
        font-size: 0.6em;
    }

    .categories-home .col-3 .select-woman {
        font-size: 0.6em;
    }

    .categories-home .col-3 .select-acc {
        right: 11vw;
        font-size: 0.6em;
    }

    .categories-home .col-2 .select-icon-man {
        left: 17vw;
        font-size: 0.6em;
        margin-top: 19.5%;
    }
    
    .categories-home .col-2 .select-icon-woman {
        right: 17vw;
        font-size: 0.6em;
        margin-top: 19.5%;
    }

    .categories-home .col-3 .s-man {
        left: 12vw;
        margin-top: 7%;
        font-size: 0.5em;
        padding: 0.5em 0.5em;
    }
    
    .categories-home .col-3 .s-woman {
        margin: 7% auto;
        font-size: 0.5em;
        padding: 0.5em 0.5em;
        width: 40px;
    }
    
    .categories-home .col-3 .s-acc {
        right: 5vw;
        margin: 7%;
        font-size: 0.5em;
        padding: 0.5em 0.5em;
    }

    .categories-home .col-2 .s-icon-man {
        left: 22vw;
        margin-top: 22.5%;
        padding: 0.5em 0.5em;
        font-size: 0.5em;
    }
    
    .categories-home .col-2 .s-icon-woman {
        right: 22vw;
        margin-top: 22.5%;
        padding: 0.5em 0.5em;
        font-size: 0.5em;
    }

    .cover .cover-z {
        font-size: 0.6em;
    }

    /*CATEGORIES*/
    .category {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto auto;
        justify-content: space-between;
    }
    
    .category .container-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .category .container-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .category .container-3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .category .container-4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .category .large-container {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .category .container-1.row-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .category .container-2.row-2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .category .container-3.row-2 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .category .container-4.row-2 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .category .container-1.row-3 {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    .category .container-2.row-3 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    .filter {
        font-size: 0.8em;
    }

    .filter .filter-p {
        margin-right: 5vw;
    }

    .filter .dropdown-color {
        margin-right: 2.5vw;;
    }

    .filter .dropdown-size {
        margin-right: 2.5vw;;
    }

    /*GENERAL STRUCTURE*/
    .grid-layout {
        width: 90%;
        margin: 0 auto;
    }

    /*MENU*/
    .menu {
        margin-bottom: 2%;
    }

    .menu > a {
        font-size: 0.6em;
    }

    /*FOOTER*/
    .footer {
        width: 100%;
    }

    .footer .footer-main .box {
        font-size: 0.5em;
        margin-right: 10px;
    }

    .footer p.us {
        width: 90%;
        font-size: 0.5em;
    }
}

@media screen and (max-width: 610px) and (min-width: 480px) {
   
    /*CATEGORIES*/
    .category {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto auto;
    }
    
    .category .container-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .category .container-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .category .container-3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .category .container-4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .category .large-container {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .category .container-1.row-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .category .container-2.row-2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .category .container-3.row-2 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .category .container-4.row-2 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .category .container-1.row-3 {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    .category .container-2.row-3 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    /*HOME*/
    .categories-home .col-3 .select-man {
        left: 12vw;
        font-size: 0.7em;
    }

    .categories-home .col-3 .select-woman {
        font-size: 0.7em;
    }

    .categories-home .col-3 .select-acc {
        right: 12vw;
        font-size: 0.7em;
    }

    .categories-home .col-2 .select-icon-man {
        left: 17vw;
        font-size: 0.7em;
        margin-top: 19.5%;
    }
    
    .categories-home .col-2 .select-icon-woman {
        right: 17vw;
        font-size: 0.7em;
        margin-top: 19.5%;
    }

    .categories-home .col-3 .s-man {
        left: 14vw;
        margin-top: 7%;
        font-size: 0.6em;
        padding: 0.6em 0.6em;
    }
    
    .categories-home .col-3 .s-woman {
        margin: 7% auto;
        font-size: 0.6em;
        padding: 0.6em 0.6em;
        width: 50px;
    }
    
    .categories-home .col-3 .s-acc {
        right: 8vw;
        margin: 7%;
        font-size: 0.6em;
        padding: 0.6em 0.6em;
    }
    
    .categories-home .col-2 .s-icon-man {
        left: 22vw;
        margin-top: 22.5%;
        padding: 0.6em 0.6em;
        font-size: 0.6em;
    }
    
    .categories-home .col-2 .s-icon-woman {
        right: 22vw;
        margin-top: 22.5%;
        padding: 0.6em 0.6em;
        font-size: 0.6em;
    }

    .cover .cover-z {
        font-size: 0.7em;
    }

    /*GENERAL STRUCTURE*/
    .grid-layout {
        width: 90%;
        margin: 0 auto;
    }
    
    /*MENU*/
    .menu > a {
        font-size: 0.8em;
    }
    
    /*FOOTER*/
    .footer {
        width: 100%;
        font-size: 0.4em;
    }
}

@media screen and (min-width: 610px) and (max-width: 900px) {

    /*CATEGORIES*/
    .category {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto;
    }
    
    .category .container-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .category .container-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .category .container-3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .category .container-4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .category .large-container {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .category .container-1.row-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .category .container-2.row-2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .category .container-3.row-2 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .category .container-4.row-2 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .category .container-1.row-3 {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    .category .container-2.row-3 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    /*HOME*/
    .categories-home .col-3 .select-man {
        left: 12vw;
        font-size: 1em;
    }

    .categories-home .col-3 .select-woman {
        font-size: 1em;
    }

    .blank {
        padding: 0.8em 0.8em;
    }

    .categories-home .col-3 .select-acc {
        right: 12vw;
        font-size: 1em;
    }

    .categories-home .col-2 .select-icon-man {
        left: 20vw;
        font-size: 1em;
        margin-top: 19%;
    }
    
    .categories-home .col-2 .select-icon-woman {
        right: 19vw;
        font-size: 1em;
        margin-top: 19%;
    }

    .categories-home .col-3 .s-man {
        left: 14vw;
        margin-top: 7%;
        font-size: 0.8em;
    }
    
    .categories-home .col-3 .s-woman {
        margin: 7% auto;
        font-size: 0.8em;
        width: 55px;
    }
    
    .categories-home .col-3 .s-acc {
        right: 8vw;
        margin: 7%;
        font-size: 0.8em;
    }

    .categories-home .col-2 .s-icon-man {
        left: 26vw;
        margin-top: 22%;
        font-size: 0.8em;
    }
    
    .categories-home .col-2 .s-icon-woman {
        right: 24vw;
        margin-top: 22%;
        font-size: 0.8em;
    }

    .cover .cover-z {
        font-size: 0.8em;
    }

    /*GENERAL STRUCTURE*/
    .grid-layout {
        width: 90%;
        margin: 0 auto;
    }
    
    /*MENU*/
    .menu > a {
        font-size: 0.8em;
    }
    
    /*FOOTER*/
    .footer {
        width: 100%;
        font-size: 0.4em;
    }
}

@media screen and (min-width: 1200px) {

    /*HOME*/
    .cover .cover-z {
        width: 80%;
        margin-top: 4%;
        font-size: 1.6em;
    }

    .categories-home .col-3 .select-man {
        left: 17vw;
        font-size: 1.4em;
    }

    .categories-home .col-3 .select-woman {
        font-size: 1.4em;
    }

    .categories-home .col-3 .select-acc {
        right: 17vw;
        font-size: 1.4em;
    }

    .categories-home .col-2 .select-icon-man {
        left: 22vw;
        font-size: 1.4em;
        margin-top: 16.5%;
    }
    
    .categories-home .col-2 .select-icon-woman {
        right: 22vw;
        font-size: 1.4em;
        margin-top: 16.5%;
    }

    .categories-home .col-3 .s-man {
        left: 18.8vw;
        margin-top: 6.5%;
        font-size: 1em;
    }
    
    .categories-home .col-3 .s-woman {
        margin: 6.5% auto;
        font-size: 1em;
    }
    
    .categories-home .col-3 .s-acc {
        right: 14vw;
        margin: 6.5%;
        font-size: 1em;
    }

    .categories-home .col-2 .s-icon-man {
        left: 26vw;
        margin-top: 19.5%;
        font-size: 1em;
    }
    
    .categories-home .col-2 .s-icon-woman {
        right: 26vw;
        margin-top: 19.5%;
        font-size: 1em;
    }

    /*GENERAL STRUCTURE*/
    .grid-layout {
        width: 80%;
    }

    /*FOOTER*/
    .footer {
        width: 79%;
    }
}

@media screen and (min-width: 1600px) {

    /*CATEGORY*/
    .cover-p {
        width: 40%;
    }

    /*HOME*/
    .cover .cover-z {
        width: 70%;
        margin-top: 5%;
        font-size: 1.7em;
    }

    .categories-home .col-3 .select-man {
        left: 23vw;
        font-size: 1.5em;
    }

    .categories-home .col-3 .select-woman {
        font-size: 1.5em;
    }

    .categories-home .col-3 .select-acc {
        right: 23vw;
        font-size: 1.5em;
    }

    .categories-home .col-2 .select-icon-man {
        left: 26vw;
        font-size: 1.5em;
        margin-top: 16%;
    }
    
    .categories-home .col-2 .select-icon-woman {
        right: 25.5vw;
        font-size: 1.5em;
        margin-top: 16%;
    }

    .categories-home .col-3 .s-man {
        left: 24.5vw;
        margin-top: 6%;
        font-size: 1.2em;
    }
    
    .categories-home .col-3 .s-woman {
        margin: 6% auto;
        font-size: 1.2em;
    }
    
    .categories-home .col-3 .s-acc {
        right: 19vw;
        margin: 6%;
        font-size: 1.2em;
    }

    .categories-home .col-2 .s-icon-man {
        left: 29vw;
        margin-top: 19%;
        font-size: 1.2em;
    }
    
    .categories-home .col-2 .s-icon-woman {
        right: 29vw;
        margin-top: 19%;
        font-size: 1.2em;
    }

    /*GENERAL STRUCTURE*/
    .grid-layout {
        width: 70%;
    }

    /*MENU*/
    .menu {
        margin-bottom: 0.3%;
    }

    .menu > a {
        font-size: 0.9em;
    }

    /*FOOTER*/
    .footer {
        width: 69%;
    }
}