* {
    margin: 0;
    padding: 0;
}

body {
    color: #0F01AF;
}

.form {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3vw;
    margin-top: -15vh;
}

.title {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2.5px;
    margin: 16px 0px 16px 40px;
}

input {
    margin: 10px 27px;
    min-width: 12vw;
    min-height: 35px;
    border: 1px solid rgb(178, 176, 176);
    background-color: white;
    text-align: left;
    padding: 0px 15px;
    color: black;
    border-radius: 15px;
    font-size: 1.2rem;
    outline: none;
}

input:hover {
    outline-style: solid;
    border-bottom: 4px solid #776bfa;

}

input:focus {
    border-bottom: 4px solid #776bfa;
    border-left: 4px solid #776bfa;
}

.formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icon {
    cursor:pointer;
}

