body #foto .img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;
    left: -40px;
}

body .h1 {
    padding: 3px;
    background-color: black;
    color: white;
    width: 100px;
    text-align: center;
}