@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-color: #ccc;
}

.main {
  width: 320px;
  height: auto;
  margin: 100px auto;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 10px 1px;
}

.main .flash-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main .modeColour {
  min-height: 50px;
  padding: 30px 30px 0 30px;
  display: flex;
  align-items: center;
}

.main .box-screen {
  width: 80%;
  text-align: end;
  padding: 30px 40px 0 40px;
  height: 125px;
}

.main .box-screen .op {
    font-size: 0.8em;
    margin: 10px 0 20px 0;
    color: rgb(253, 148, 1);
}

.main .box-screen .result {
  font-size: 2.8em;
  color: black;
  margin: 0;
  color: rgb(253, 148, 1);
}

.main .buttons {
  width: 100%;
}

.main .buttons .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .buttons .btn {
  width: 25%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-height: 60px;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border: none;
  border-radius: 40px;
  background-color: white;
  margin: 0.1em 0.7em 0.7em 0.7em;
}

.main .buttons .btn:hover {
    background-color: rgba(226, 218, 218, 0.386);
  }

.main .buttons .btn.gray {
    background-color: rgba(204, 204, 204, 0.353);
}

.main .buttons .btn.gray:hover {
    background-color: rgba(144, 134, 134, 0.342);
}

.main .buttons .btn.yellow {
    color: rgb(253, 148, 1);
}

.main .buttons .btn.double {
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

.main .history {
    background-color: rgb(66, 62, 62);
    display: none;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgb(253, 148, 1);
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 15px;
  left: 1.8px;
  bottom: 34.9px;
  background-color: rgb(119, 115, 115);
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.flash {
    position: relative;
    z-index: 1;
    left: 2.5px;
    top: 30px;
    bottom: 0;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateY(33.4px);
  -ms-transform: translateY(33.4px);
  transform: translateY(33.4px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
